.policy{
    padding: 50px;
    ol {
        list-style: none;
        counter-reset: li;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      li{
        .left{
            margin-left: 25px;
            font-size: 14px;
            line-height: 24px;
        }
      }
        li:before {
            counter-increment: li; 
            content: counters(li,".") ". ";
        }
}