.resume{
    padding-top:125px;
    &__wrapper{
        padding: 60px 69px 0 85px;
        display: grid;
        grid-template-columns: repeat(2,425px);
        column-gap: 130px;
    }
    &__column{
        &-title{
            position: relative;
            padding-left: 35px;
            margin-bottom: 0;
            &::before{
                content: " ";
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul{
            list-style-type: none;
            li{
                position: relative;
                &::after{
                    content:'';
                    position: absolute;
                    width: 2px;
                    height: calc(100% + 16px);
                    background: $main-color;
                    top:-16px;
                    left: 0;
                }
            }
        }
    }&__item{
        position: relative;
        &::before{
            content:'';
            position: absolute;
            width: 45px;
            height: 2px;
            top: 65px;
            background: $main-color;
        }
        &-head{
            position: relative;
            padding: 45px 0 0 100px;
        }
        &-body{
            padding-left: 42px;
            margin-top: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon{
            position: absolute;
            top: 50px;
            left: 43px;
            @include before_circle;
            img{
                position: absolute;
                top: 14px;
                left: 17px;
            }
        }
        &-location{
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
}