.sidepanel{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    z-index: 3;
    left: 50px;
    top: 190px;
    &__divider{
        width: 3px;
        height: 70px;
        background-color: #000;
    }
    &__text{
        writing-mode: vertical-lr; 
        transform: rotate(180deg);
        font-weight: 700;
    }
    a{
        &:hover {
            transform: scale(1.6)
        }
    }
    
}